@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans text-zinc-600 transition-colors duration-300;
    @apply bg-[#fafafa] dark:text-slate-400 dark:bg-[#08080f];
  }
}

@layer utilities {
  .animate-delay-100 {
    animation-delay: 0.1s;
  }
  .animate-delay-200 {
    animation-delay: 0.2s;
  }
  .animate-delay-300 {
    animation-delay: 0.3s;
  }
  .animate-delay-400 {
    animation-delay: 0.4s;
  }
  .animate-delay-500 {
    animation-delay: 0.5s;
  }
}
